name: Android Studio Download

on:
  workflow_dispatch:



jobs:
  download_installer:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download installers
      run: |
        curl -o android-studio-2025.2.2.8-windows.exe -L "https://redirector.gvt1.com/edgedl/android/studio/install/2025.2.2.8/android-studio-2025.2.2.8-windows.exe"

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          android-studio-2025.2.2.8-windows.exe
        tag_name: 2025.2.2.8
